$delete-pop-up-width: min(600px, 90%);

.delete-pop-up {
    position: fixed;
    background-color: darkgreen;
    padding: 2em;
    width: $delete-pop-up-width;
    z-index: 50;
    left: 0;
    right: 0;
    top: 40%;
    margin-inline: auto;
    /* 
    ! center vertically in 
    */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "warning warning"
        "btn-delete btn-keep";



    &__warning {
        grid-area: warning;
    }

    &__btn-delete {
        grid-area: btn-delete;
    }

    &__btn-keep {
        grid-area: btn-keep;
    }
    /* 
    ! set responsive typography
    */ 
}