@use "../utilities" as *;


.delete-pop-up {
    position: fixed;
    padding: 2em;
    width: min(500px, 90%);
    z-index: 50;
    left: 0;
    right: 0;
    top: 40%;
    margin-inline: auto;
    border-radius: 1em;
    font-weight: 600;
    
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 3em;
        grid-template-areas: 
            "warning warning"
            "btn-delete btn-keep";
    justify-items: center;
    align-content: center;
    
    background-color: var(--clr-bg-popup);
    box-shadow: var(--box-shadow-thick);


 
    &__warning {
        grid-area: warning;

        &__icon {
            font-size: 1.6em;
            margin-right: 0.3em;
            height: 1em;
            position: relative;
            top: 0.25em;
            color: hsl(0, 80%, 40%);
        }
    }

    &__btn {
        width: max-content;
        font-size: 1.05em;
        padding: 0.4em 1.2em;
        font-weight: 700;
        text-align: center;
        transform-origin: center;
        
        &:focus {
            outline: 3px solid var(--clr-txt-main);
            box-shadow: 0 0 0 4px var(--clr-txt-main);
        }

        &:hover {
            transform: scale(105%);
        }
    }

    &__btn-delete {
        grid-area: btn-delete;
        background-color: hsl(0, 80%, 40%);
        color: hsl(0, 0%, 85%);

    }

    &__btn-keep {
        grid-area: btn-keep;
        background-color: var(--clr-bg-main);
    }



    @include media-query("min-width", "small") {
        width: max-content;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 3em;
        grid-template-areas: 
            "warning warning"
            "btn-delete btn-keep";


            &__warning {
                font-size: 1.2em;
            }
    }

}

