@use "../utilities" as *;

.header {
    line-height: 1;
    
    &__title {
        font-family: $ff-accent;
        font-weight: normal;
        font-size: $fs-header__title;
        margin: 0;
    }

    &__info {
        font-size: $fs-header__info;
        margin-bottom: 0;
    }
}