@use "../utilities/" as *;

ul, li {
    list-style: none;
}

.list-1, .list-2, .list-3 {
    border-radius: 1em;
    padding-block: 1.5em;
    font-size: $fs-task;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:   
        ". list-title list-title list-title list-title btn-delete-all"
        "droppable-list droppable-list droppable-list droppable-list droppable-list droppable-list";
    
    
    &__title {
        font-size: $fs-list-title;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-family: $ff-accent;
        font-weight: 700;
        grid-area: list-title;
    }
    
    &:has(div[data-isDraggingOver = true]) {
        background-color: hsl(4, 93%, 61%) !important;
    }
}

.list-1 {
    background-color: var(--clr-bg-1);
}

.list-2 {
    background-color: var(--clr-bg-2);
}

.list-3 {
    background-color: var(--clr-bg-3);
    color: var(--clr-txt-3);
}

.droppable-list {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: $list-row-gap;
    grid-area: droppable-list;
}

.btn--delete-all {
    font-size: 1.4em;
    grid-area: btn-delete-all;
    width: max-content;
}

