@use "../utilities" as *;
@use "sass:math";

.new-task__container {
    width: min(96%, 600px);
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    
    @include media-query("min-width", "medium") {
        position: relative;
        bottom: unset;
        left: unset;
        transform: unset;    
        width: min(96%, 800px);
        align-self: end;
        justify-self: center;
        margin-bottom: 2.5em;
    }
}

.new-task {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &__input {
        border: unset;
        font-size: $fs-new-task;
        font-weight: 600;
        line-height: 1;
        
        width: 100%;
        border-radius: 38rem;
        padding: $ws--input--block $ws--input--inline;
        padding-right: 2em;
        
        color: var(--clr-txt-main);
        background-color: var(--clr-bg-input);
        box-shadow: var(--box-shadow-thick);

        &::placeholder {
            color: var(--clt-txt-placeholder);
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        font-size: 1.8em;
        font-weight: 600;
        border-radius: 100px;
        transform-origin: center;

        &:hover {
            transform: scale(110%);
        }
    }
}