@use "../utilities" as *;

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;   
    font-size: $fs-task;

    * {
        font-size: 1.2em;
    }
}