/* FORM */
.single-task {
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.8em;
    /* background-color: hsla(0, 0%, 5%, 0.4);
    color: white; */
    box-shadow: 0 0 3px hsla(0, 0%, 5%, 0.7);
    
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;


    /* DIV: INPUT & SAVE BTN */ 
    &__definition {
        display: flex;
        flex-direction: row;
        align-items: center;


        &__textarea {
            flex-grow: 2;
            resize: none;
            font-family: inherit;
        }
    }
}


[data-isDragging = true] {
    background-color: rgb(190, 59, 241);
}