@use "../utilities" as *;

/* FORM */
.single-task__container {
    /* font-size: $fs-task; */
    /* font-family: $ff-condensed; */
    padding: 1.5em 1em;
    border-radius: 0.8em;
    box-shadow: 0 0 3px hsla(0, 0%, 5%, 0.7);
}


.single-task {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    grid-template-areas: "task-def save delete";
    align-items: center;
    word-break: break-word;
    

    &__btn--save, &__btn--delete {
        padding: 0.3em;
        font-size: 1.2em;
    }

    &__definition {
        grid-area: task-def;
        resize: none;
        font-family: inherit;
        font-size: inherit;
        line-height: 1.4;
        margin: 0;
    }
    
    &__btn--save {
        grid-area: save;
    }
    
    &__btn--delete {
        grid-area: delete;
        margin-right: -0.6em;
    }
    
    &__paragraph {
        /* 
        ! inline below is just to remind you that you might have to work on styling paragraph
        */ 
        padding-inline: 0.1em;
    }
    
    &__textarea {
        &:focus {
            outline: 2px solid greenyellow;
        }
    }
}


[data-isDragging = true] {
    background-color: rgb(190, 59, 241) !important;
}