.task {
    margin: 0.5em;
    padding: 1em;
    background-color: hsla(0, 0%, 5%, 0.3);
    border-radius: 0.8em;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    color: white;
}

.btn__save-task-def {
    border: 5px solid red;
}