@use "../utilities" as *;
@use "reset-defaults" as *; 

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;

    /* background-color: var(--clr-bg);
    color: var(--clr-txt); */
    font-family: $ff-condensed;
    line-height: 1.4;
}

