@use "../utilities" as *;
@use "reset-defaults" as *; 
@use "scrollbar" as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow: overlay;
    font-family: $ff-condensed;
    line-height: 1.4;
}

.app-container {
    min-height: 100vh;
    min-width: 100vw;

    background-color: var(--clr-bg);
    color: var(--clr-txt);
}