@use "../utilities/media-queries.scss" as *;

.main-layout {
    display: flex;
    flex-direction: column;


    @include media-query("min-width", "medium") {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "new-task new-task new-task"
            "to-do-list in-progress-list done-list";
        row-gap: 2em;
        column-gap: 1em;
    }
}

.new-task {
    grid-area: new-task;

    /* @include media-query("min-width", "medium") {
    
    } */
}

.to-do-list {
    grid-area: to-do-list;

    /* @include media-query("min-width", "medium") {
    
    } */
}

.in-progress-list {
    grid-area: in-progress-list;

    /* @include media-query("min-width", "medium") {
    
    } */
}

.done-list {
    grid-area: done-list;

    /* @include media-query("min-width", "medium") {
    
    } */
}