@use "../utilities" as *;

.main-layout {
    width: min(1400px, 96%);
    margin: 0 auto;

    display: grid;
    position: relative;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title settings"
        "lists lists"
        "reset-board reset-board";
    row-gap: $row-gap--mobile;
    padding-top: 1em;
    padding-bottom: 5em;
    

    .header {
        grid-area: title;
        justify-self: start;
    }

    .settings {
        grid-area: settings;
    }

    .lists-layout {
        grid-area: lists;
    }

    .btn--reset-board {
        grid-area: reset-board;
    }


    @include grid-layout-desktop;
    @include media-query("min-width", "medium") {
        min-height: 100%;
        padding-block: 2em;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
            "title title . . . settings"
            ". new-task new-task new-task new-task ."
            "lists lists lists lists lists lists"
            ". . reset-board reset-board . ."
        ;

        .new-task__container {
            grid-area: new-task;
        }
    }
}