@use "../utilities" as *;

input, textarea {
    font-family: inherit;
}


button {
    background-color: transparent;
    color: unset;
    border: unset;
    border-radius: 0.45rem;
    
    cursor: pointer;

    display: grid;
    place-content: center; 

    transform-origin: center;
    transition: transform 200ms ease;

    &:not(.delete-pop-up__btn, .new-task__btn):hover {
        @include btn-hover;
    }

    &:active {
        @include btn-active;
    }
}


input:focus, 
textarea:focus,
.single-task__container:focus,
/* .btn--reset-board:focus,
.color-mode-toggler:focus,
.new-task__btn:focus,
.btn--delete-all:focus,
.single-task__textarea:focus,
.single-task__btn--save:focus,
.single-task__btn--delete:focus */
button:focus {
    @include all-focus;
}

