@use "../utilities" as *;

input, textarea {
    font-family: inherit;
}


button {
    background-color: transparent;
    color: unset;
    border: unset;
    border-radius: 0.45rem;
    
    cursor: pointer;

    display: grid;
    place-content: center; 

    transition: transform 200ms ease;

    &:hover {
        @include btn-hover;
    }
}


button:focus, 
input:focus, 
textarea:focus,
div:focus {
    @include all-focus;
}