::-webkit-scrollbar {
    background-color: darkred;
}

::-webkit-scrollbar-thumb {
    background-color: red;
}

/* 
https://css-tricks.com/almanac/properties/s/scrollbar/
https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/
*/
