@use "../utilities/" as *;

body::-webkit-scrollbar {
    width: clamp(4px, 1vw, 8px);
    border-radius: 100px;
}

body::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: darkred;
}

body::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: pink;
}

::-webkit-scrollbar {
    width: clamp(2px, .5vw, 4px);
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: darkblue;
}

::-webkit-scrollbar-thumb {
    background-color: cyan;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: chartreuse;
}
