:root {
    // COLOR VARIABLES: HUES
    --hue-accent: 28;
    --hue-dnd: 190;
}

/*
? Text - general
? Background - general


* Buttons (toggle, edit, delete), new task input, added tasks
? none    : default styling
? :hover  : background (& text) color / size
? :focus  : outline / size 
? :active : background (& text) color / size

* New task input
? placeholder text color
*/


// DARK MODE VARIABLES: font-weight, colors, box-shadows
[data-colorTheme = dark] {
    --fw: 400;
    --clr-txt-main: hsl(0, 0%, 75%);
    --clt-txt-placeholder: hsl(0, 0%, 55%);
    
    --clr-bg-main: hsl(0, 0%, 20%);
    --clr-bg-list: hsl(0, 0%, 17%);
    --clr-bg-popup: hsl(0, 0%, 14%);

    --clr-bg-dnd-list: hsl(var(--hue-dnd), 50%, 20%);
    --clr-bg-dnd-task: hsl(var(--hue-dnd), 50%, 35%);

    --box-shadow-thick: 0 0 6px hsla(0, 0%, 8%, 0.5);
    --box-shadow-thin: 0 0 4px hsla(0, 0%, 8%, 0.5);
    --box-shadow-dnd-thin: 0 0 4px hsla(0, 0%, 5%, 0.5);
    
    --clr-outline: hsl(var(--hue-accent), 100%, 60%);
}


// LIGHT MODE VARIABLES: font-weight, colors, box-shadows
[data-colorTheme = light] {
    --fw: 500;
    --clr-txt-main: hsl(0, 0%, 25%);
    --clt-txt-placeholder: hsl(0, 0%, 45%);

    --clr-bg-main: hsl(0, 0%, 80%);
    --clr-bg-list: hsl(0, 0%, 83%);
    --clr-bg-popup: hsl(0, 0%, 86%);

    --clr-bg-dnd-list: hsl(var(--hue-dnd), 50%, 80%);
    --clr-bg-dnd-task: hsl(var(--hue-dnd), 50%, 65%);

    --box-shadow-thick: 0 0 6px hsla(0, 0%, 50%, 0.5);
    --box-shadow-thin: 0 0 4px hsla(0, 0%, 50%, 0.5);
    --box-shadow-dnd-thin: 0 0 4px hsla(0, 0%, 35%, 0.5);

    --clr-outline: hsl(var(--hue-accent), 100%, 50%);
}