:root {
    --clr-bg: hsl(0, 0%, 12%);
    --clr-txt: hsl(0, 0%, 92%);
    --clr-acc-light: hsl(295, 70%, 45%);
    --clr-acc-dark: hsl(295, 70%, 30%);

    --clr-bg-to-do: hsl(295, 60%, 15%);
    --clr-bg-in-progress: hsl(295, 65%, 20%);
    --clr-bg-done: hsl(295, 18%, 15%);

    --clr-txt-to-do: hsl(0, 0%, 92%);
    --clr-txt-in-progress: hsl(0, 0%, 92%);
    --clr-txt-done: hsl(0, 0%, 60%);
}