:root {
    // COLOR VARIABLES: HUES
    --hue-main: 15;
    --hue-accent: 220;
    --satur-dark: 47%;
    --satur-light: 60%;
}

/*
? Text - general
? Background - general


* Buttons (toggle, edit, delete), new task input, added tasks
? none    : default styling
? :hover  : background (& text) color / size
? :focus  : outline / size 
? :active : background (& text) color / size

* New task input
? placeholder text color
*/


// COLORS: DARK MODE
[data-colorTheme = dark] {
    --clr-bg-main: hsl(var(--hue-main), 5%, 10%);
    --clr-txt-main: hsl(0, 0%, 90%);

    --clr-bg-1: hsla(var(--hue-main), var(--satur-dark), 45%, 1);
    --clr-bg-2: hsla(var(--hue-main), var(--satur-dark), 45%, 0.7);
    --clr-bg-3: hsla(var(--hue-main), var(--satur-dark), 45%, 0.4);
    
    --fw: 400;
    --clr-txt-1: hsla(0, 0%, 88%, 0.88);
    --clr-txt-2: hsla(0, 0%, 88%, 1);
    --clr-txt-3: hsla(0, 0%, 88%, 0.75);

    --clr-outline: hsl(var(--hue-accent), 100%, 50%);

    --filter-btn-hover: 200%;
    
    --clr-scrollbar: hsl(var(--hue-main), 30%, 75%);
    --clr-scrollbar-thumb: hsl(var(--hue-main), 30%, 50%);
}


// COLORS: LIGHT MODE
[data-colorTheme = light] {
    --clr-bg-main: hsl(var(--hue-main), 5%, 88%);
    --clr-txt-main: hsl(0, 0%, 18%);

    --clr-bg-1: hsla(var(--hue-main), var(--satur-light), 75%, 1);
    --clr-bg-2: hsla(var(--hue-main), var(--satur-light), 75%, 0.7);
    --clr-bg-3: hsla(var(--hue-main), var(--satur-light), 75%, 0.4);
    
    --fw: 500;
    --clr-txt-1: hsla(0, 0%, 18%, 0.88);
    --clr-txt-2: hsla(0, 0%, 18%, 1);
    --clr-txt-3: hsla(0, 0%, 18%, 0.75);

    --clr-outline: hsl(var(--hue-accent), 100%, 45%);

    --filter-btn-hover: -150%;


    --clr-scrollbar: hsl(var(--hue-main), 30%, 10%);
    --clr-scrollbar-thumb: hsl(var(--hue-main), 30%, 20%);
}




/* 
    // COLOR VARIABLES: SATURATION & BRIGHTNESS (%)
    --pct-0: 0%;
    --pct-5: 5%;
    --pct-10: 10%;
    --pct-15: 15%;
    --pct-20: 20%;
    --pct-25: 25%;
    --pct-30: 30%;
    --pct-35: 35%;
    --pct-40: 40%;
    --pct-45: 45%;
    --pct-50: 50%;
    --pct-55: 55%;
    --pct-60: 60%;
    --pct-65: 65%;
    --pct-70: 70%;
    --pct-75: 75%;
    --pct-80: 80%;
    --pct-85: 85%;
    --pct-90: 90%;
*/