@use "media-queries" as *;

@mixin btn-hover {
    transform: scale(130%);
}

@mixin btn-active {
    transform: scale(95%);
}

@mixin all-focus {
    outline: 2px solid var(--clr-outline);

    @include media-query("min-width", "small") {
        outline: 4px solid var(--clr-outline);
    }
}