@use "media-queries" as *;

/* BUTTONS */
@mixin btn-hover {
    transform: scale(130%);
}

@mixin btn-active {
    transform: scale(95%);
}




/* FOOTER LINKS */
@mixin link {
    text-decoration: none;
} 

@mixin link-link {
    color: var(--clr-txt-main);
}

@mixin link-visited {
    color: var(--clr-txt-main);
}

@mixin link-hover {
    color: var(--clr-outline);
}

@mixin link-active {
    color: var(--clr-outline);   
}




@mixin all-focus {
    outline: 2px solid var(--clr-outline);

    @include media-query("min-width", "small") {
        outline: 4px solid var(--clr-outline);
    }
}