@font-face {
    font-family: "Coplette";
    src: url("../fonts/Coplette.otf") format("opentype"),   
         url("../fonts/Coplette.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Planc";
    src: url("../fonts/Planc-ExtraLight.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Planc";
    src: url("../fonts/Planc-ExtraLightItalic.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
}


// FONT FAMILIES
$ff-accent: "Coplette", "Arial Black", sans-serif;
$ff-main: "Planc", "Arial", sans-serif;


// FONT SIZES
$fs-header__title: clamp(1.25rem, 1rem + 2vw, 3rem);
$fs-header__info: clamp(1rem, 0.5rem + 1vw, 1.3rem);
$fs-new-task: clamp(1.1rem, 0.6rem + 1.2vw, 1.3rem);
$fs-list-title: clamp(1.2rem, 0.8rem + 1vw, 2rem);
$fs-task: clamp(0.8rem, 0.6rem + 0.5vw, 1.1rem);

