@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');


// FONT FAMILIES
$ff-condensed: "Sofia Sans Semi Condensed", Calibri, 'Trebuchet MS', sans-serif;
$ff-expanded: "Prompt", 'Arial Narrow Bold', sans-serif; 


// FONT SIZES
$fs-header__title: clamp(1.25rem, 1rem + 2vw, 3rem);
$fs-header__info: clamp(1rem, 0.5rem + 1vw, 1.3rem);
$fs-new-task: clamp(1.1rem, 0.6rem + 1.2vw, 1.3rem);
$fs-list-title: clamp(1.2rem, 0.8rem + 1vw, 2rem);
$fs-task: clamp(0.8rem, 0.6rem + 0.5vw, 1.1rem);