// GRID 
$row-gap--mobile: 1.4em;

$cols--desktop: repeat(6, 1fr);
$col-gap--desktop: 1em;
$row-gap--desktop: 1em;

// LIST
$list-row-gap: 0.8em;

// NEW TASK INPUT
$ws--input--block: 0.2em;
$ws--input--inline: 4 * $ws--input--block;

$ws--btn--block: $ws--input--block * 0.5;
$ws--btn--inline: 4 * $ws--btn--block;